  <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>

                            {% if post.tech %}
                            <div class="tech-stack" style="margin-bottom: 20px;">
                                {% assign techs = post.tech | split: ", " %}
                                {% for tech in techs %}
                                <span class="label label-primary" style="margin: 0 4px 4px 0; display: inline-block; padding: 5px 10px; font-size: 12px;">{{ tech }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>{{ post.project-date }}</strong>
                                </li>
                                <li>Category:
                                    <strong>{{ post.category }}</strong>
                                </li>
                                {% if post.role %}
                                <li>Role:
                                    <strong>{{ post.role }}</strong>
                                </li>
                                {% endif %}
                            </ul>

                            <div style="margin-top: 25px;">
                                {% if post.url %}
                                <a href="{{ post.url }}" target="_blank" class="btn btn-primary" style="margin-right: 8px;">
                                    <i class="fa fa-external-link"></i> View Project
                                </a>
                                {% endif %}
                                {% if post.github %}
                                <a href="{{ post.github }}" target="_blank" class="btn btn-default">
                                    <i class="fa fa-github"></i> View Source
                                </a>
                                {% endif %}
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 8px;">
                                    <i class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
